.imgFlag{
  height: 10px;
  margin: 3px;
}

.select {
  background: #33bdef linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-shadow:0 -1px 0 #5b6178;
}

.option {
  background-color: #057fd0;
  color: #fff;
}