/* Основний CSS код */

.startPage {
    display: grid;
    grid-template-areas:
    "t t i"
    "u u u";
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    background-color: white;
}

.topPage {
    grid-area: t;
    margin-left: 10px;
}

.underPage {
    grid-area: u;
    background-color: #333;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footerLinks {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #333;
}

.footerLinks li {
    margin-right: 20px;
}

.footerLinks a {
    color: #fff;
    text-decoration: none;
}

.footerLinks a:hover {
    text-decoration: underline;
}

.footerLinks img {
    height: 50px;
}

.nameText {
    color: white;
    margin-left: 20px;
}

.imgHolding {
    grid-area: i;
    margin: 10px;
}

.contact {
    color: white;
}

.contactItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contactItem img {
    height: 15px;
    margin-right: 5px;
}

.contactItem a{
    color: white;
    text-decoration: none;
}

@media (max-width: 900px) {
    .startPage {
        grid-template-areas:
      "t t"
      "i i"
      "u u";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .imgHolding {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
