.startPage {
    display: grid;
    grid-template-areas:
    "t t"
    "u u";
    grid-template-columns: 1fr 5fr;
}

.topPage {
    grid-area: t;
    margin-left: 10px;
}

.underPage {
    grid-area: u;
    background-color: #333;
    display: grid;
    grid-template-columns: auto 1fr 1fr 4fr;
    justify-items: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footerLinks {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #333;
}

.footerLinks li {
    margin-right: 20px;
}

.footerLinks a {
    color: #fff;
    text-decoration: none;
}

.footerLinks a:hover {
    text-decoration: underline;
}

.footerLinks img {
    height: 50px;
}

.nameText{
    color: white;
    margin-left: 20px;
}