.nav{
  grid-area: n;
  background-color: #057fd0;
  display: grid;
  align-items: center;
}

.nav div{
  margin-left: 20px;
}

.activeLink {
  color: #FFE61B;
  text-decoration: none;
}

.noActiveLink {
  color: bisque;
  text-decoration: none;
}

.logo {
  height: 60px;
  margin-left: 10px;
}