.nav{
  grid-area: n;
  background-color: #057fd0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.activeLink {
  color: #FFE61B;
  text-decoration: none;
}

.noActiveLink {
  color: bisque;
  text-decoration: none;
}

.margin {
  margin-bottom: 5px;
}