.FinancialReportList{
    height: 600px;
    overflow: auto;
    margin: 10px;
}

.financialReports{
    padding: 20px;
    overflow: auto;
}

.financialReport{
    padding: 20px;
    display: flex;
}

.financialReportComponent {
   margin-right: 30px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.button {
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}