.FinancialReportList{
    height: 600px;
    overflow: auto;
    margin: 10px;
    grid-area: l;
}

.financialReports{
    padding: 20px;
    overflow: auto;
}

.financialReport{
    padding: 20px;
    display: grid;

    grid-template-areas:
   "l i"
   "l i";

    grid-template-columns: 1fr 1fr 1fr;
}

.financialReportComponent {
   margin-right: 30px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 20vw;
    grid-area: i;
}

.button {
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.inputFieldOption {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    width: 20vw;
    grid-area: i;
}

.formik{
    display: flex;
    flex-direction: column;
}