.app-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-areas:
   "n n"
   "c c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
}


.app-wrapper-content {
  grid-area: c;
  background-color: aquamarine;
}