.app-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-areas:
   "n c";

  grid-template-columns: 20vh;
}


.app-wrapper-content {
  grid-area: c;
  background-color: aquamarine;
}