.enterprise{
    padding: 20px;
    display: grid;

    grid-template-areas:
   "l i";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.enterprises{
    padding: 20px;
    overflow: auto;
}

.enterprisesList{
    height: 630px;
    overflow: auto;
    margin: 10px;
    grid-area: l;
}

.enterprisesComponent {
    margin-right: 30px;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
    width: 20vw;
    grid-area: i;
}

.inputFieldOption {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    width: 20vw;
    grid-area: i;
}

.button {
    padding: 10px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}